* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9E9DA;
    font-family: Georgia, serif;
    overflow: hidden;
    overflow-y: scroll;
}

/* Headings */
h1,h2,h3,h4 {
    font-family: Roboto, sans-serif;
}

/* Navigation */
nav {

    background-color: dimgrey;
    align-items: center;
    display: flex;
}


nav a#logo {
    color: white;
    font-size: 2.4vw;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    margin-right: auto;
    margin-left: 0;
    font-family: Roboto, sans-serif;
}

.nav-list-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: dimgrey;
    z-index: 999;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #111;
}

/* Hero Banner Section */
#hero-banner {
    
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}


/* About Section */
.about-image {
    padding-right: 3%;
    height: 45vh;
}

#about {
    margin-top: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-facts {
    margin: 2%;
    max-width: 100%;
    text-align: center;
}



/* Gallery Section */
#gallery {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2%;
    margin-top: 50px;
}

#gallery h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    margin-top: 5%;
}

.gallery-images {
    display: flex;
    padding: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: auto;
}

.gallery-images img{
    padding: 1%;
    max-width: 100%;
    height: 250px;
}

/* Contact Section */
#contact {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#contact form {
    width: 300px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

/* Footer section */
.contact-platforms {
    text-align: center;
}

.contact-platforms > li {
    display: inline;
}

.contact-platforms i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}




/* Responsive styles for mobile devices */
@media (max-width: 767px) {
    
    /* Headings */
    h1, h2, h3, h4 {
        text-align: center;
        margin: 0;
    }


    /* Hero section  */

    nav a#logo {
    
        display: none;
    }

   /* Navigation Section */
   nav ul li {
        display: inline-block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 5px 10px;
    }
    
    
    /* About section  */
    .about-image {
        
        max-width: 100%;
        height: auto;
        margin-top: 50px;
        padding-left: 3%;
        padding-right: 3%;
    }

    #about {
        flex-direction: row;
        margin-top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .about-facts {
        position: relative; 
        top: 8%;
    }

    .about-facts h2 {
        padding: 15px;
        font-size: 16px;
    }
    
    
    /* Gallery Section  */
    #gallery {
        height: auto;
        margin-top: 50px;
    }

    .gallery-images {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .gallery-images img {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
    }

    /* Contact Section  */
    #contact {
        margin-top: 50px; 
        height: auto;
    }

}

@media (min-width: 767px) {
    
   /* Headings */
    h1, h2, h3, h4 {
        text-align: center;
        margin: 0;
    }
    
    /* About section  */
    .about-image {
        order: 2;
        flex: 2;
        margin-left: 20px;
        padding-right: 20px;
        height: 60vh;
    }

    #about {
        margin-top: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    
    .about-facts {
        
        display: flex;
        flex-wrap: wrap;
    } 
    
    
    .about-facts h2 {
        
        padding-top: 5%;
        margin-bottom: 5%;
    }
    
    
    .about-facts p {
        flex: 2;
        font-size: 1rem;
    }
   
    
    /* Gallery Section  */
    #gallery h2 {
        font-size: 2rem;
    }
    
    .gallery-images {
        display: flex;
        padding: 25px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: auto;
    }

    .gallery-images img {
        padding: 1%;
        max-width: 100%;
        height: 300px;
    }

    /* Contact Section */
    #contact form {
        width: 400px;
    }
}

@media (min-width: 1024px) {
    
    /* Headings */
    h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
    }

    /* Navigation Section */
    .nav-list-wrapper {
        height: 70px;
    }
    
    /* About Section  */
    .about-image {
        order: 2;
        flex: 2;
        margin-left: 20px;
        padding-right: 20px;
        height: 65vh;
    }

    #about {
        margin-top: 0;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about-facts {
        display: flex;
        flex-wrap: wrap;
    }
    .about-facts h2 {
        font-size: 2rem;
    }
    .about-facts p {
        flex: 2;
        font-size: larger;
    }

    /* Gallery Section  */
    .gallery-images img {
        padding: 1%;
        height: 400px;
        max-width: 100%;
    }

    /* Contact Section  */
    #contact form {
        width: 400px;
    }
}

@media (min-width: 1440px) {
    
    /* Headings */
    h1, h2, h3, h4 {
        text-align: center;
        margin: 0;
    }
    
    /* About Section*/
    .about-image {
        height: 80vh
    }

    #about {
        margin-top: 0;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .about-facts {
        display: flex;
        flex-wrap: wrap;
    }

    .about-facts h2 {
        font-size: 3rem;
    }
    
    .about-facts p {
        flex: 2;
        font-size: 2rem;
    }


     /* Gallery Section  */
    #gallery h2 {
        font-size: 2rem;   
    }
    
     .gallery-images img {
        padding: 1%;
        height: 580px;
        max-width: 100%;
    }
 
    /* Navigation Section  */
    .nav-list-wrapper {
        height: 90px;
    }

    nav ul li a {
        font-size: 30px;
    }
    
     /* Contact Section */
    #contact form {
        width: 500px;   
    }
}
        
@media (min-width: 2560px) {
      
    /* Headings */
      h1, h2, h3, h4 {
        text-align: center;
        margin: 0;
        font-size: 2rem;
    }
    nav ul li a {
        font-size: 50px;
        padding: 20px 30px;
    }
    /* Navigation Section */
    .nav-list-wrapper {
        height: 120px;
    }
    
    /* About Section */
    .about-image {
        order: 2;
        flex: 2;
        margin-left: 100px;
        padding-right: 100px;
        height: 1200px;
    }

    #about {
        margin-top: 0;
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about-facts {
        display: flex;
        flex-wrap: wrap;
    }

    .about-facts h2 {
        font-size: 5rem;
      }
    
    
    .about-facts p {
        flex: 2;
        font-size: 3rem;
    }


    /* Gallery Section */
    
    #gallery h2 {
        font-size: 4rem;
    }
    
    .gallery-images img {
        padding: 1%;
        height: 900px;
        max-width: 100%;
    }

    /* Contact Section */
    
    #contact {
        font-size: 2rem;
    }
    
    #contact form {
        width: 800px;   
    }
}


