
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9E9DA;
    font-family: Georgia, serif;
    overflow: hidden;
    overflow-y: scroll;
}

/* Headings */
h1,h2,h3,h4 {
    font-family: Roboto, sans-serif;
}

/* Navigation */
nav {
    background-color: #333;
    align-items: center;
    display: flex;
}


nav a#logo {
    color: white;
    font-size: 2.4vw;
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    padding-left: 2%;
}

.nav-list-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #111;
}

/* Hero Banner Section */
#hero-banner {
    margin-top: 5%;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}


/* About Section */
#about {
    margin-top: 0;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-facts {
    margin: 2%;
    max-width: 100%;
    text-align: center;
}

.about-facts h2 {
    padding-bottom: 2%;
}

.about-image {
    padding-right: 3%;
    height: 45vh;
    width: 45vh;
    margin-top: 50px;
}

/* Gallery Section */
#gallery {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2%;
    margin-top: 50px;
}

#gallery h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    margin-top: 5%;
}

.gallery-images {
    display: flex;
    padding: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: auto;
}

.gallery-images img{
    padding: 1%;
    max-width: 100%;
    height: 250px;
}

/* Contact Section */
#contact {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#contact form {
    width: 300px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}

/* Footer section */
.contact-platforms {
    text-align: center;
}

.contact-platforms > li {
    display: inline;
}

.contact-platforms i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Responsive styles for mobile devices */
@media (max-width: 767px) {

    /* hero section  */

    nav a#logo {
        font-size: 3vw;
        display: none;
   }

   /* nav links */
   nav ul li {
        display: inline-block;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 16px;
        padding: 5px 10px;
    }



    /* about section  */
    #about {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .about-facts {
        flex: 1;  
    }

    .about-facts p {
   
        text-align: center;
    
    }
   
    .about-facts h2 {
        font-size: 2vh;
        padding-bottom: 0;
    
    }

    .about-image {
       
        max-width: 100%;
        height: auto;
        margin-top: 50px;
        margin-left: 5px;
      }

    /* Gallery Section  */
    #gallery {
        height: auto;
        margin-top: 50px;
    }

    .gallery-images {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .gallery-images img {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
    }

    /* Contact Section  */
    #contact {
        margin-top: 50px; 
        height: auto;
        padding: 20px;
    }

}